html {
  position: relative;
  height: 100vh;
}
.title {
  width: fit-content;
  margin: 2rem auto;
}
.board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: black;
}
.column {
  border-radius: 10px;
}
.column:hover {
  box-shadow: 0 0 20px 5px white;
}
.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  cursor: pointer;
}
.slot-circle {
  width: 40px;
  height: 40px;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.87);
  border-radius: 50%;
}
.transparent-background {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.863);
}
.winner-modal {
  position: absolute;
  top: 10rem;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  transform: translateX(-50%);
}
.winner-modal .slot-circle {
  margin: 1rem 0 2rem 0;
}
.winner-modal.hidden, .transparent-background.hidden {
  display: none;
}
button {
  padding: 0.5rem;
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
button:hover {
  color: black;
  background-color: white;
}
.resetBtn {
  display: block;
  width: fit-content;
  margin: 1rem auto;
}